{
  "{package,example,build}/**/*.{vue,less}": [
    "stylelint --config ./.stylelintrc --fix"
  ],
  "{package,example,build}/**/*.{js,ts,tsx,json,css,vue}": [
    "eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue"
  ]
}