{
  "{package,example}/**/*.{vue,less}": [
    "stylelint --config ./.stylelintrc --fix"
  ],
  "{package,example}/**/*.{js,ts,json,css,vue}": [
    "eslint -c ./.eslintrc.js --fix --ext .jsx,.js,.tsx,.ts,.vue"
  ]
}