#忽略目录
example
src
public
bin
build
.history
node_modules
changelog.config.js


.bowserslistrc
.eslintignore
.eslintrc.js
.huskyrc
.lintstagedrc
.prettierignore
.prettierrc
.stylelintrc
commitlint.config.js
index.html
tsconfig.json
#忽略指定文件
vite.config.ts
babel.config.js
*.map