#忽略目录
dist
example
src
public
bin
build
.history
node_modules
.bowserslistrc
.eslintignore
.eslintrc.js
.huskyrc
.lintstagedrc
.prettierignore
.prettierrc
.stylelintrc
index.html
tsconfig.json
template
#忽略指定文件
vite.config.ts
babel.config.js
changelog.config.js
commitlint.config.js
*.map
CHANGELOG.md